<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>&lt;Hello World/&gt;</title>
    <!--Style-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../assets/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/main.css"  media="screen,projection"/>
    <!--END Style-->
    <meta name="theme-color" content="#272822">
    <link rel="icon" sizes="192x192" href="../img/hello-world-ico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115897352-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115897352-1');
    </script>
  </head>
  <body>
    <!--Nawigacja-->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
					<a href="index.html" class="brand-logo left">
            <img src="../img/hello-world.jpg" alt="logo">
          </a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
          <!--Wersja desktopowa-->
          <ul class="right hide-on-med-and-down">
						<li><a href="createArticle.html">Stwórz Artykuł</a></li>
            <li><a href="profile.html">Profil</a></li>
            <li><a id='logowanie' class="white-text modal-trigger" href='#modal-logowanie'>Logowanie</a></li>
            <li><a id='rejestracja' class="white-text modal-trigger" href='#modal-rejestracja'>Rejestracja</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!--END Wersja desktopowa-->
    <!--Wersja mobilna-->
    <ul class="side-nav" id="mobile-demo">
      <li><a class="brand-logo" href="#"><img src="../img/hello-world-small.jpg" alt="logo"></a></li>
			<li><a href="createArticle.html">Stwórz Artykuł</a></li>
			<li><a href="profile.html">Profil</a></li>
      <div class="divider"></div>
      <li><a id='logowanie' class="modal-trigger" href='#modal-logowanie'>Logowanie</a></li>
      <li><a id='rejestracja' class="modal-trigger" href='#modal-rejestracja'>Rejestracja</a></li>
    </ul>
    <!--END Wersja mobilna-->
    <!--END Nawigacja-->
    <!--Content-->



    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <div class="row">

                <h3 class="center">Dodaj post</h3>

                <form action="#">

                  <div  id="file" class="file-field input-field col s12 m6">
                    <div class="btn">
                      <span>Zdjęcie</span>
                      <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>


                  <div id="select" class="input-field col s12 m6">
                    <select>
                      <option value="" disabled selected>Wybierz kategorię</option>
                      <option value="1">Sport</option>
                      <option value="2">Rozrywka</option>
                      <option value="3">Technologie</option>
                      <option value="4">Ludzie</option>
                    </select>
                  </div>

                  <div class="col s12">
                      <div class="input-field col s12 m6 offset-m3">
                        <input id="input_text" type="text" data-length="25">
                        <label for="input_text">Tytuł</label>
                      </div>

                      <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                        <label for="textarea1">Wstęp</label>
                      </div>

                      <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea" data-length="1000"></textarea>
                        <label for="textarea1">Rozwinięcie</label>
                      </div>
                  </div>

                  <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light black" onclick="Materialize.toast('Dodano post', 4000)" type="submit" name="action">
                      Dodaj post
                      <i class="material-icons right">send</i>
                    </button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


















    <!--END Content-->
    <!--Modal Logowanie-->
    <div id="modal-logowanie" class="modal">
      <div class="modal-content">
        <h4 class="center-align">Zaloguj</h4>
        <!--Formularz logowania-->
        <div class="row .modal-form-row">
          <form class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="Logowanie-login" type="text" class="validate" required>
                <label for="Logowanie-login">Login</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="Logowanie-password" type="password" class="validate" required>
                <label for="Logowanie-password">Password</label>
              </div>
            </div>
            <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Zaloguj
              <i class="material-icons right">send</i>
            </button>
          </div>
          </form>
        </div>
        <!-- END Formularz logowania-->
      </div>
    </div>
    <!--END Modal Logowanie-->
    <!--Modal Rejestracja-->
    <div id="modal-rejestracja" class="modal">
      <div class="modal-content">
        <h4 class="center-align">Zarejestruj</h4>
        <!--Formularz rejestracji-->
        <div class="row .modal-form-row">
          <form class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="Rejestracja-login" type="text" class="validate" required>
                <label for="Rejestracja-login">Login</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="Rejestracja-password" type="password" class="validate" required>
                <label for="Rejestracja-password">Hasło</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="Rejestracja-password-ponownie" type="password" class="validate" required>
                <label for="Rejestracja-password-ponownie" data-error="Hasła nie są takie same" data-success="Hasła identyczne">Powtórz hasło</label>
              </div>
            </div>
            <div class="row center-align">
            <button id='rejestracja-button' class="btn waves-effect waves-light disabled" type="submit" name="action">Zarejestruj
              <i class="material-icons right">send</i>
            </button>
          </div>
          </form>
        </div>
        <!-- END Formularz rejestracji-->
      </div>
    </div>
    <!--END Modal Rejestracja-->
    <!--Skrypty-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../assets/materialize.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <!--END Skrypty-->
  </body>
</html>
